<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Sign In</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <form (ngSubmit)="login()" [formGroup]="credentials">
  <ion-card>
    <img src="/assets/photo/login.png" size="30%"/>
  </ion-card>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item style="padding-top: 10%;"> 
    <input style="width: 100%;" type="submit" class="btn btn-outline-success" value="Submit"/>  
    </ion-item>
  </form> 
</ion-content>
