
    <ion-app>
  <ion-split-pane contentId="main-content">  
      <ion-menu contentId="main-content" type="overlay">
        
        <ion-content [fullscreen]="true">
          <ion-list class="sideMenuListBg">
            <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages" (click)="openPage(p);">
              <ion-item class="SideMenuBtn" detail="false" [routerLink]="[p.url]">
                <ion-icon *ngIf="p.icon!=''" slot="start" [name]="p.icon"></ion-icon>
                <ion-label>{{p.title}}</ion-label>
              </ion-item>
            </ion-menu-toggle>
          </ion-list>
        </ion-content>
      </ion-menu>
  
      <ion-router-outlet id="main-content"></ion-router-outlet>
    </ion-split-pane>
  </ion-app> 

