<ion-header [translucent]="true">
  <ion-toolbar>   
    <ion-buttons slot="start"> 
      <ion-menu-button autoHide="true" ></ion-menu-button>
    </ion-buttons>
    <ion-title>{{currentPageTitle}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-card>
      <ion-card-header>Show Dashboard Tracking</ion-card-header>
      <ion-card-content>
         <ion-card-title>Show History Tracking</ion-card-title>
         <ion-card-content>
           <div class="map"  #map id="map">

           </div>
           
         </ion-card-content>
      </ion-card-content>
    </ion-card>
   
</ion-content>
