


#container {
  position: center;

}
.button-size{
  background-color:transparent;
  
  border-radius: 8px;
  height: 80px;
  width: 80px;
}
.col-size{
  padding: 1px;
  margin-top: 5%;
  margin-left: 3%;
  margin-right: 3%;
}

.photo-center{
  background-color: transparent;
  padding: 2px;
  size: 120px;
}